{% extends 'base.html' %}

{% block title %}
    {{ Заказы пользователя {{ user.name }} }}
{% endblock %}

{% block content %}
   <ul>
    {% for order in user.orders %}
            <li>
                {{ Заказ №{{ order.id }} от {{ order.order_date }}' }}
                <ul>
                    {% for item in order.orderitem_set %}
                        <li>{{ item.quantity }} x {{ item.product.name }}</li>
                    {% endfor %}
                </ul>
                Общая стоимость: {{ order.total_amount }}
            </li>
        {% else %}
            <li>У пользователя нет заказов.</li>
        {% endfor %}
   </ul>
{% endblock %}